.inside-list {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  border-radius: 4px;
  padding: 5px;
  display: inline-block;

  & > .info {
    display: flex;
    align-items: center;
    //gap: 15px;
    margin-bottom: 5px;

    button:first-child {
      font-size: 16px;
    }

    & > button {
      &:not(.next-btn-text) {
        padding: 0 5px;
        display: inline-flex;
        align-items: center;
        gap: 2px;
      }
    }

    & > .properties {
      display: flex;
      gap: 5px;
      flex-wrap: wrap;
      margin-bottom: 5px;
    }
  }

  & > .data {

    .group-header {
      text-align: center;
    }

    table {
      height: 1px;

      tbody {
        tr {
          height: 100%;

          &.active {
            &>td {
              background-color: #e3f2fd;
            }
          }

          td {
            height: 100%;

            .next-table-cell-wrapper {
              height: 100%;

              .property-value {
                height: 100%;
              }
            }
          }
        }
      }
    }

    .id {
      .next-table-cell-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
      }
    }

    .title {
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      gap: 5px;

      .computed, .external {
        padding: 2px 5px;
        border-radius: 4px;
      }

      .computed {
        color: #4494f9;
        background-color: #e3f2fd;
      }

      .external {
        color: #ff9300;
        background-color: #fff3e0;
      }
    }
  }
}
